<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="edu.kit.textannotation.rcpplugin">
         <property
               name="lifeCycleURI"
               value="bundleclass://edu.kit.textannotation.rcpplugin/edu.kit.textannotation.rcpplugin.E4LifeCycle">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/edu.kit.textannotation.rcpplugin/css/default.css">
         </property>
         <property
               name="appName"
               value="edu.kit.textannotation.rcpplugin">
         </property>
      </product>
   </extension>

</plugin>
